.delivery-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f9f9f9;
  }
  
  .delivery-container {
    max-width: 1120px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    padding: 20px;
    border-radius: 8px;
  }
  
  .delivery-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .delivery-container h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }
  
  .delivery-container p, .delivery-container ul {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  
  .delivery-container ul {
    list-style: disc;
    padding-left: 1.5rem;
  }
  .phone{
    text-decoration: none;
    color: #333;
  }

  @media (max-width: 768px) {
    .delivery-container {
      margin-top: 6rem;
    }
  }
