.hero-section {
    background: linear-gradient(to right, #f8fafc, #e0f2fe);
    padding-top: 2rem;
  }
  
  .container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  
  @media (min-width: 768px) {
    .grid-wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .hero-content {
    text-align: left;
  }
  
  .hero-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.5rem;
  }
  
  .hero-subtitle {
    font-size: 1.25rem;
    color: #4b5563;
    margin-bottom: 2rem;
  }
  
  .hero-image-wrapper {
    padding-bottom: 5px;
    position: relative;
  }
  
  .hero-image {
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 900px) {
  .hero-title {
      font-size: 2rem;
      margin-bottom: 1rem;
  }
  .hero-subtitle {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  .hero-image {
    display: none;
  }
  }

